/*
███████████████████████████████████████████████████████████████
██   ███     ██     ██     ██ ███ ██     ██     ███   ███ ███ █
█ ███ ████ ██████ ████ ██████ ███ ████ ██████ ████ ███ ██ ███ █
█ ███ ████ ██████ ████ ██████  ██ ████ ██████ ████ ███ ██  ██ █
█     ████ ██████ ████   ████ █ █ ████ ██████ ████ ███ ██ █ █ █
█ ███ ████ ██████ ████ ██████ ██  ████ ██████ ████ ███ ██ ██  █
█ ███ ████ ██████ ████ ██████ ███ ████ ██████ ████ ███ ██ ███ █
█ ███ ████ ██████ ████     ██ ███ ████ ████     ███   ███ ███ █
███████████████████████████████████████████████████████████████
███████████████████████████████████████████████████████████████
███████████████████████████████████████████████████████████████
*/
// NE COPIER QUE LES CLASS ICON-xx ET LAISSER LE FONT FACE ET CLASS=^ICON
// FONT FACE: PATH /fonts/icomoon/
// FONT FACE: PAS DE REVISION NUMBER
// ET
// REMPLACER LES 3 PREMIERS LIGNES
// [class^="icon-"]:before, [class*=" icon-"]:before,
// [class^="icon-"], [class*=" icon-"] {
// 	font-family: 'icomoon', Arial;


@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon/icomoon.eot');
	src:url('/fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/fonts/icomoon/icomoon.ttf') format('truetype'),
		url('/fonts/icomoon/icomoon.woff') format('woff'),
		url('/fonts/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before,
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon', Arial, sans-serif;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow_top:before {
	content: "\e61e";
}
.icon-arrow_bottom:before {
	content: "\e61b";
}
.icon-diamant:before {
	content: "\e61c";
}
.icon-gps:before {
	content: "\e61d";
}
.icon-slider_accessoire_next:before {
	content: "\e611";
}
.icon-slider_accessoire_prev:before {
	content: "\e612";
}
.icon-slider_body_next:before {
	content: "\e613";
}
.icon-slider_body_prev:before {
	content: "\e614";
}
.icon-slider_chapeau_next:before {
	content: "\e615";
}
.icon-slider_chapeau_prev:before {
	content: "\e616";
}
.icon-slider_feet_next:before {
	content: "\e617";
}
.icon-slider_feet_prev:before {
	content: "\e618";
}
.icon-slider_head_head:before {
	content: "\e619";
}
.icon-slider_head_prev:before {
	content: "\e61a";
}
.icon-search:before {
	content: "\e610";
}
.icon-menu:before {
	content: "\e60f";
}
.icon-arrow_back:before {
	content: "\e600";
}
.icon-arrow_next:before {
	content: "\e601";
}
.icon-arrow_slider_next:before {
	content: "\e602";
}
.icon-arrow_slider_previous:before {
	content: "\e603";
}
.icon-btn_round:before {
	content: "\e604";
}
.icon-close:before {
	content: "\e605";
}
.icon-coupe:before {
	content: "\e606";
}
.icon-female:before {
	content: "\e607";
}
.icon-feuilles:before {
	content: "\e608";
}
.icon-fire:before {
	content: "\e609";
}
.icon-login:before {
	content: "\e60a";
}
.icon-male:before {
	content: "\e60b";
}
.icon-settings:before {
	content: "\e60c";
}
.icon-signin:before {
	content: "\e60d";
}
.icon-stairs:before {
	content: "\e60e";
}
