<div class="bloc" ng-init="loggingIn=false; signingIn=true;">
	<!--loggingIn = {{loggingIn}}<br>signingIn = {{signingIn}}-->
	<div class="logo"></div>
	<div class="cta" ng-if="!loggingIn">
		<button class="btn sec loginButton" ng-click="$parent.loggingIn = true"><span class="bg"></span><span class="icon icon-login"></span><span class="label">Connexion</span></button>
		<button class="btn signinButton" ng-click="$parent.signingIn = true"><span class="bg"></span><span class="icon icon-signin"></span><span class="label">Inscription</span></button>
	</div>

	<div ng-if="loggingIn" class="login">
		<custom-input class="input input_id" input_type="text" input_class="login_id" placeholder="Mail / Numéro de badge" required="true"></custom-input><custom-input class="input input_pwd" input_type="password" input_class="login_pwd" placeholder="Mot de passe" required="true"></custom-input>
		<button class="btn round sec backButton" ng-click="$parent.loggingIn = false"><span class="bg"></span><span class="icon icon-fleche_gauche"></span><span class="label">Retour</span></button>
		<button class="btn icon-login loginButton" ng-click="submitLogin()"><span class="bg"></span><span class="icon icon-login"></span><span class="label">Connexion</span></button>
		<a href="#" class="pwd_forgot">Mot de passe oublié ?</a>
	</div>

	<div ng-if="signingIn" class="signin clearfix">
		<div class="blocker" ng-click="$parent.signingIn = false"></div>
		<form data-parsley-validate data-parsley-ui-enabled="false" class="clearfix signingInForm">
			<p class="title">Inscription</p>
			<button class="btn round sec closeButton" ng-click="$parent.signingIn = false"><span class="bg"></span><span class="icon icon-close"></span><span class="label">Fermer</span></button>
			<div class="data">
				<custom-input class="input input_idCard" input_type="text" parsleytype="number" input_class="idCard" min-lenght="1"  placeholder="Numéro de badge" required="true" help="true" tooltip_content="<div class='tooltip tooltip_badge'><img src='images/badge_numero.png' alt='numéro de badge' /></div>" ></custom-input>
				<custom-input class="input input_nickname" input_type="text" parsleytype="alphanum" input_class="nickname" min-lenght="1"  placeholder="Pseudo" required="true" ></custom-input>
				<custom-input class="input input_email" input_type="email" parsleytype="email" input_class="email" min-lenght="1"  placeholder="E-mail" required="true"  ></custom-input>
				<custom-input class="input input_pwd" input_type="password" parsleytype="alphanum" input_class="pwd" min-lenght="6"  placeholder="Mot de passe" required="true" help="true" tooltip_content="<div class='tooltip tooltip_mdp'><p class='error'>Le mot de passe doit contenir au moins 6 caractères.</p></div>" ></custom-input>
			</div>
			<button type="submit" class="btn signinButton" ng-click="submitSigninFrom()"><span class="bg"></span><span class="icon icon-signin"></span><span class="label">Inscription</span></button>
            <div ng-if="signinFormErrors" class="signin_error">Les champs suivants sont erronés :<br><span ng-bind="signinFormErrorsList" class="errorList"></span></div>
		</form>
	</div>
</div>
