<a class="btn round sec closeButton" ng-href="#"><span class="bg"></span><span class="icon icon-menu"></span><span class="label">Fermer</span></a>
<ul>
	<li><button class="btn menu item_profile"><span class="bg"></span><span class="icon"></span><span class="label">Profil</span></button></li>
	<li><button class="btn menu item_achievement"><span class="bg"></span><span class="icon"></span><span class="label">Défis</span></button></li>
	<li><button class="btn menu item_ranking"><span class="bg"></span><span class="icon"></span><span class="label">Classement</span></button></li>
	<li><button class="btn menu item_statitics"><span class="bg"></span><span class="icon"></span><span class="label">Stats BBDO</span></button></li>
	<li><button class="btn menu item_logout"><span class="bg"></span><span class="icon"></span><span class="label">Déconnexion</span></button></li>
</ul>