<!--<div class="slope_part">0</div>-->
<!--<div class="slope_part">1</div>-->
<!--<div class="slope_part">2</div>-->
<!--<div class="slope_part">3</div>-->
<!--<div class="slope_part">4</div>-->
<!--<div class="slope_part">5</div>-->
<!--<div class="slope_part">6</div>-->
<!--<div class="slope_part">7</div>-->
<!--<div class="slope_part">8</div>-->
<!--<div class="slope_part">9</div>-->
<!--<div class="slope_part">0</div>-->
<!--<div class="slope_part">11</div>-->
<!--<div class="slope_part">12</div>-->
<!--<div class="slope_part">13</div>-->
<!--<div class="slope_part">14</div>-->
<!--<div class="slope_part">15</div>-->
<!--<div class="slope_part">16</div>-->
<!--<div class="slope_part">17</div>-->
<!--<div class="slope_part">18</div>-->
<!--<div class="slope_part">19</div>-->
<!--<div class="slope_part">20</div>-->
<!--<div class="slope_part">21</div>-->
<!--<div class="slope_part">22</div>-->
<!--<div class="slope_part">23</div>-->
<!--<div class="slope_part">24</div>-->
<!--<div class="slope_part">25</div>-->
<!--<div class="slope_part">26</div>-->
<!--<div class="slope_part">27</div>-->
<!--<div class="slope_part">28</div>-->
<!--<div class="slope_part">29</div>-->
<!--<div class="slope_part">30</div>-->
<!--<div class="slope_part">31</div>-->
<!--<div class="slope_part">32</div>-->
<!--<div class="slope_part">33</div>-->
<!--<div class="slope_part">34</div>-->
<!--<div class="slope_part">35</div>-->
<!--<div class="slope_part">36</div>-->
<!--<div class="slope_part">37</div>-->
<!--<div class="slope_part">38</div>-->
<!--<div class="slope_part">39</div>-->
<!--<div class="slope_part">40</div>-->
<!--<div class="slope_part">41</div>-->
<!--<div class="slope_part">42</div>-->
<!--<div class="slope_part">43</div>-->
<!--<div class="slope_part">44</div>-->
<!--<div class="slope_part">45</div>-->
<!--<div class="slope_part">46</div>-->
<!--<div class="slope_part">47</div>-->
<!--<div class="slope_part">48</div>-->
<!--<div class="slope_part">49</div>-->
<!--<div class="slope_part">50</div>-->
<!--<div class="slope_part">51</div>-->
<!--<div class="slope_part">52</div>-->
<!--<div class="slope_part">53</div>-->
<!--<div class="slope_part">54</div>-->
<!--<div class="slope_part">55</div>-->
<!--<div class="slope_part">56</div>-->
<!--<div class="slope_part">57</div>-->
<!--<div class="slope_part">58</div>-->
<!--<div class="slope_part">59</div>-->